body{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px; 
}

img{
    width: 300px;
    height: 200px;
}

.header, .mini-header{
    background-color: #1f2937;  
    display: flex; 
    align-items: center;
    padding: 10px 50px;

}

.links{
    display: flex; 
    align-items: center;
}

.header{
    justify-content: space-between;
}

.header .text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    
}

.mini-header .title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.mini-header{
    justify-content: space-between;
    
}

.mh-body{
    display: flex;
    flex-direction: column;
}

.mini-header p{
    color: #e5e7eb;
    
}

.mini-header .button{
    background-color: #3882f6;    
    color: #f9faf8;
    width: 150px;
    text-align: center;
    padding: 5px;
    
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 50px 0;
}

.body-container, .body-title{
    padding: 25px 50px;
}

.body-container{
    display: flex;
    gap: 32px;
    text-align: center;    
}

.body-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 50px;
    font-weight: lighter;
    margin: 50px 0;
}

.quote .q-person{
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: #3882f6;    
    color: #f9faf8;
    align-items: center;
    margin: 50px;
    padding: 10px 20px;
}

.button-su{
    border: 3px solid #f9faf8;
    padding: 5px 10px;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}



